<div class = "container">
  <div class = "p-3 text-black">
    <span class = "bg-light pr-3 pl-3 h4">商品情報編集</span>
  </div>


  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
  <div class="d-flex justify-content-center m-3">
    <table>

      <tr>
        <th class="p-2">商品画像</th>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>

      <tr>
        <th class="p-2">商品名</th>
        <td><%= f.text_field :name, autofocus: true, :placeholder => "商品名" %></td>
      </tr>

      <tr>
        <th class="p-2">商品説明</th>
        <td><%= f.text_area :introduction, rows:3, autofocus: true, id:"inputIntroduction", :placeholder => "ここに説明文を記述します" %></td>
      </tr>

      <tr>
        <th class="p-2">税込価格</th>
        <td><%= f.text_field :price, autofocus: true %>円</td>
      </tr>

      <tr>
        <th class="p-2">販売ステータス</th>
        <td>
          <%= f.radio_button :is_active, "true" %>
          <%= f.label :item_status, "販売中" %>
          <%= f.radio_button :is_active, "false" %>
          <%= f.label :item_status, "販売停止中" %>
        </td>
      </tr>

    </table>
  </div>

  <div class="d-flex justify-content-center m-3">
    <%= f.submit "変更内容を保存", class: "btn btn-success" %>
  </div>

  <% end %>

</div>