<div class = "container">

  <div class="row">
    <span class="pt-3">
      『日々にそっと彩りを添える』</br>
      儚さがありつつも力強い光を内に秘めている</br>
      この作家だからこその魅力が詰まった作品たち</br>
      この世界にたった一つしかない唯一無二の</br>
      ハンドメイドの世界へようこそ!
    </span>
  </div>

  <div class="row">
    <div><%= image_tag 'shop_image.jpg', width: '100%', height: '80%' %></div>
  </div>


  <div class="row">
    <h4>★新着商品情報</h4>
  </div>

  <div class="row">
  <% @items.each do |item| %>

    <div class="col-md-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(150,150) %>
      <% end %>

      <p><%= link_to item.name, item_path(item.id) %></p>
      <p><%= "￥" + (item.with_tax_price).to_s(:delimited) %></p>
    </div>
  <% end %>
  </div>

  <div class="row d-block text-right">
    <%= link_to items_path do %>
      全ての商品を見る
      <i class="fas fa-caret-right"></i>
    <% end %>
  </div>

</div>
