<div class = "container">
  <div class="row">

    <span><%= image_tage 'shop_image.jpg', size: '200x200' %></span>
    <span>
      ONIIの世界へようこそ！</br>
      当サイトは、ガラスのハンドメイドアクセサリー販売専用のＥＣサイトです。</br>
      どなたでもお気軽にご覧くださいませ。</br>
      ※商品のご購入には会員登録が必要です。
    </span>

  </div>

  <div class="row">
    <h4>★新着商品情報</h4>
  </div>

  <div class="row">
  <% @items.each do |item| %>

    <div class="col-md-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(150,150) %>
      <% end %>

      <p><%= link_to item.name, item_path(item.id) %></p>
      <p><%= "￥" + (item.with_tax_price).to_s(:delimited) %></p>
    </div>
  <% end %>
  </div>

  <div class="row d-block text-right">
    <%= link_to items_path do %>
      全ての商品を見る
      <i class="fas fa-caret-right"></i>
    <% end %>
  </div>

</div>
