<div class="container">
  <div class="row">
    <div class = "p-3 text-black">
      <span class = "bg-light pr-3 pl-3 h4">
        <%= @customer.full_name %>さんの会員情報編集
      </span>
    </div>
  </div>


  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <div class="row">
      <table class="m-3">
        <thead>

            <tr>
              <th class="pr-4 pb-2">会員ID</th>
              <td class="pr-4 pb-2"><%= @customer.id %></td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">氏名</th>
              <td class="pr-4 pb-2">
                 <%= f.text_field :last_name %>
                 &emsp;
                 <%= f.text_field :first_name %>
              </td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">フリガナ</th>
              <td class="pr-4 pb-2">
                <%= f.text_field :last_name_kana %>
                &emsp;
                <%= f.text_field :first_name_kana %>
              </td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">郵便番号</th>
              <td class="pr-4 pb-2">
                <%= f.text_field :postal_code %>
              </td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">住所</th>
              <td class="pr-4 pb-2"><%= f.text_field :address, size: 40 %></td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">電話番号</th>
              <td class="pr-4 pb-2"><%= f.text_field :telephone_number %></td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">メールアドレス</th>
              <td class="pr-4 pb-2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>

            <tr>
              <th class="pr-4 pb-2">会員ステータス</th>
              <td class="pr-4 pb-2">
                <%= f.radio_button :is_deleted, "true" %>
                <%= f.label :customer_status, "退会" %>
                <%= f.radio_button :is_deleted, "false" %>
                <%= f.label :customer_status, "有効" %>
              </td>
              <!--会員ステータスの変更が反映されなかった；何故？-->
            </tr>

        </thead>
      </table>

  </div>

    <div class="pl-5">
      <%= f.submit "変更を保存", class: "btn btn btn-success btn-block w-25" %>
    </div>

  <% end %>

</div>