<div class="container">
  <div class="row">
    <div class = "p-3 text-black">
      <span class = "bg-light pr-3 pl-3 h5">
        <%= @customer.last_name + @customer.first_name %>さんの会員詳細
      </span>
    </div>
  </div>

  <div class="row">
      <table width="50%">
        <tbody>

            <tr>
              <th class="pt-2 pb-2">会員ID</th>
              <td class="pt-2 pb-2"><%= @customer.id %></td>
            </tr>

            <tr>
              <th class="pb-2">氏名</th>
              <td class="pb-2"><%= @customer.last_name + @customer.first_name %></td>
            </tr>

            <tr>
              <th class="pb-2">フリガナ</th>
              <td class="pb-2"><%= @customer.last_name_kana + @customer.first_name_kana %></td>
            </tr>

            <tr>
              <th class="pb-2">郵便番号</th>
              <td class="pb-2"><%= @customer.postal_code %></td>
            </tr>

            <tr>
              <th class="pb-2">住所</th>
              <td class="pb-2"><%= @customer.address %></td>
            </tr>

            <tr>
              <th class="pb-2">電話番号</th>
              <td class="pb-2"><%= @customer.telephone_number %></td>
            </tr>

            <tr>
              <th class="pb-2">メールアドレス</th>
              <td class="pb-2"><%= @customer.email %></td>
            </tr>

            <tr>
              <th class="pb-2">会員ステータス</th>
              <td class="pb-2">
                <% if @customer.is_deleted %>
                  <span class=text-secondary>退会</span>
                <% else %>
                  <span class=text-success>有効</span>
                <% end %>
              </td>
            </tr>

        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="col-md-6 pt-3 pl-5">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
      <%= link_to "注文履歴一覧を見る", admin_customer_order_path(@customer.id), class: "btn btn-primary" %>
    </div>
  </div>

</div>

