<div class="container">

  <div class = "p-3 text-black">
    <span class = "bg-light pr-3 pl-3 h5">配送先登録/一覧</span>
  </div>
  <div class="row">

  <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <table>
      <div class="col-md-10">
        <thead>
          <tr>
            <th class ="pr-3 pb-3">
              郵便番号</br>
              (ハイフンなし)
            </th>

            <td class="pb-3">
              <%= f.text_field :postal_code, {:placeholder => "1234567", minlength: "7"} %>
            </td>
          </tr>

          <tr>
            <th class ="pr-3 pb-3">
              住所
            </th>
            <td class="pb-3">
              <%= f.text_field :address, :placeholder => "東京都渋谷区代々木", size:60, required: true %>
            </td>
          </tr>

          <tr>
            <th class ="pr-3 pb-3">
              宛名
            </th>
            <td class="pb-3">
              <%= f.text_field :name, :placeholder => "山田花子", required: true %>
            </td>
          </tr>
        </thead>
      </div>
    </table>

    <div class ="text-center m-2">
      <%= f.submit "新規登録", class: "btn btn btn-success" %>
    </div>

 <% end %>
 </div>

 <div class="row">
   <table class="table table-bordered m-2">

    <thead>
      <tr>
        <th bgcolor="lemonchiffon">郵便番号</th>
        <th bgcolor="lemonchiffon">住所</th>
        <th bgcolor="lemonchiffon">宛名</th>
        <th bgcolor="lemonchiffon"></th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>

        <tr>
          <td class="p-3">
            <%= address.postal_code %>
          </td>
          <td class="p-3">
            <%= address.address %>
          </td>
          <td class="p-3">
            <%= address.name %>
          </td>
          <td class="p-3">
            <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
            <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>

      <% end %>
    </tbody>

  </table>
 </div>

</div>