<div class="container">
  <div class = "p-3 text-black">
    <span class = "pr-3 pl-3 h4"><b>会員情報編集</b></span>
  </div>

    <%= form_with model: @customer, url: customer_registration_path, method: :patch do |f| %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th bgcolor="lemonchiffon">氏名</th>
          <td class="pb-3"><%= f.text_field :last_name %> &emsp; <%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <th bgcolor="lemonchiffon">フリガナ</th>
          <td class="pb-3"><%= f.text_field :last_name_kana %> &emsp; <%= f.text_field :first_name_kana %></td>
        </tr>

        <tr>
          <th bgcolor="lemonchiffon">郵便番号(ハイフンなし)</th>
          <td class="pb-3"><%= f.text_field :postal_code %></td>
        </tr>

        <tr>
          <th bgcolor="lemonchiffon">住所</th>
          <td class="pb-3"><%= f.text_field :address, size:50 %></td>
        </tr>

        <tr>
          <th bgcolor="lemonchiffon">電話番号</th>
          <td class="pb-3"><%= f.text_field :telephone_number %></td>
        </tr>

        <tr>
          <th bgcolor="lemonchiffon">メールアドレス</th>
          <td class="pb-3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

      </thead>
    </table>


    <div class="row d-flex justify-content-center">
      <span class="pr-5"><%= f.submit "変更内容を保存", class: "btn btn btn-success" %></span>
      <span class="pr-5"><%= link_to "退会する", confirm_customer_path, class: "btn btn btn-danger" %></span>
    </div>

    <% end %>

 </div>
