<div class = "container">
  <div class = "p-3 text-black">
      <span class = "bg-light pr-3 pl-3 h5">注文履歴詳細</span>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h6><b>注文情報</b></h6>
      <table class="table table-bordered">
        <tbody>
          <thead class="thead-light">
          <tr>
            <th bgcolor="lemonchiffon">注文日</th>
            <td>
              <%= l @order.created_at %>
            </td>
          </tr>

          <tr>
            <th class="p-3" bgcolor="lemonchiffon">配送先</th>
            <td>
              〒<%= @order.post_code %></br>
              <%= @order.address %></br>
              <%= @order.name %>
            </td>
          </tr>

          <tr>
            <th bgcolor="lemonchiffon">支払い方法</th>
            <td>
              <%= @order.method_of_payment_i18n %>
            </td>
          </tr>

          <tr>
            <th bgcolor="lemonchiffon">ステータス</th>
            <td><%= @order.order_status_i18n %></td>
          </tr>
          </thead>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h6><b>お支払内容</b></h6>
      <table class="table table-bordered">
        <tbody>
          <thead class="thead-light">
            <tr>
              <th bgcolor="lemonchiffon">商品合計</th>
              <td><%= @order.payment_amount.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th bgcolor="lemonchiffon">配送料</th>
              <td><%= @order.postage %></td>
            </tr>
            <tr>
              <th bgcolor="lemonchiffon"><b>お支払金額</b></th>
              <td><%= (@order.payment_amount + @order.postage).to_s(:delimited) %></td>
            </tr>
          </thead>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h6><b>注文内容</b></h6>
      <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th bgcolor="lemonchiffon">商品</th>
              <th bgcolor="lemonchiffon">単価（税込）</th>
              <th bgcolor="lemonchiffon">注文数</th>
              <th bgcolor="lemonchiffon">小計</th>
            </tr>
          </thead>

          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.purchase_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= (order_detail.purchase_price * order_detail.amount ) %></td>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>