<div class="container">

  <div class="row">
    <h4 class="p-2">商品一覧（全<%= @items.count %>件）</h4>
  </div>

  <p id="alert"><%= alert %></p>

  <%= paginate @items %>

  <div class="row">
    <% @items.each do |item| %>

      <div class="col-md-3">

        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(200, 200) %>
        <% end %>

        <p><%= link_to item.name, item_path(item.id) %></p>

        <p><%= "￥" + (item.with_tax_price).to_s(:delimited) %></p>

      </div>

    <% end %>
  </div>

</div>

